/* section4 starts from here */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.containerend {
    width: 99%;
    height: 430px;
    margin: auto;
    background-color: #2980b9;
  }
  .up {
    padding-top: 1cm;
    padding-bottom: 0.5cm;
    font-size: 0.6cm;
    font-weight: bold;
  }
  table:first-child {
    color: rgb(22, 22, 22);
    margin-right: 1%;
  }
  
  table:nth-child(2n) {
    color: rgb(14, 12, 12);
  }
  
  table {
    text-align: center;
    margin-left: 1.5cm;
    width: 20%;
    float: left;
  }
  .table {
    font-size: 0.5cm;
  }
  .click {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  .click:hover {
    color: red;
  }
  
  .ft{
      font-size: 20px;
      text-align: center;
  }
  .cl{
      text-decoration: none;
      color: red;
      font-size: 18px;
  }
  .cl:hover{
      color: white;
  }

.social ul{
    list-style: none;
    text-align: center;
    
    
}
.social ul li{
    display: inline;
    padding: 2%;
}