/*
        Author : Jatin Bhirud
        Theam  : Tours and Travals
*/
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


/*part1*/


.bar1{
    
    border: 1px solid black;
    margin: auto;
    padding: 0%;
    background-color:#0a3d62;
}
.bar3{
    margin-left: 13rem;
}
.bar4{
    margin-left: 4rem;
}

.m1 ul{
    list-style: none;
    
}
.m1 ul li{
    display: inline;
    padding: 2%;
    
    
}

a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    
    
}

a:hover{
    color: red;
}
.logo{
    margin-left: 3rem;
}








/*part2*/
.bar2{
    
    margin: auto;
    padding: 0%;
    background-color:white;
    
}
.m2 ul{
    list-style: none;
    text-align: center;
    
    
}
.m2 ul li{
    display: inline;
    padding: 2%;
    
    
}
b{
    text-decoration: none;
    color:black;
    font-size: large;
    
    
}

b:hover{
    color: red;
}



.logo{
    float: left;
}